<?xml version="1.0"?>
<connectionStrings>
  <add name="server" connectionString="Data Source=CORDB2016\SDM,1532;Initial Catalog=Redmine;Integrated Security=True;Persist Security Info=False;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;CorMine&quot;"/>
  <!--
    <add name="server" connectionString="Data Source=CORDB2016\SDM,1532;Initial Catalog=Redmine;Integrated Security=True;Persist Security Info=False;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;CorMine&quot;"/>
    <add name="server" connectionString="Data Source=CORDB2016\SDM,1532;Initial Catalog=Redmine;Persist Security Info=False;User Id=RedmineWebServices;Password=TOP_SECRET;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;CorMine&quot;" providerName="System.Data.SqlClient"/>
  -->
  
  <remove name="COR-W10-112"/>
  <add name="COR-W10-112" connectionString="Data Source=CORDB2016\SDM,1532;Initial Catalog=Redmine;Integrated Security=True;Persist Security Info=False;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;CorMine&quot;"/>
  <!--
  <add name="COR-W10-112" connectionString="Data Source=CORDB2016\SDM,1532;Initial Catalog=Redmine;Integrated Security=True;Persist Security Info=False;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;CorMine&quot;"/>
  <add name="COR-W10-112" connectionString="Data Source=CORDB2016\SDM,1532;Initial Catalog=Redmine;Persist Security Info=False;User Id=RedmineWebServices;Password=TOP_SECRET;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;CorMine&quot;" providerName="System.Data.SqlClient"/>
  -->
</connectionStrings>
