<?xml version="1.0" encoding="utf-8"?>

<configuration>
  
  <appSettings configSource="app.config"/>
  <connectionStrings configSource="connections.config"/>

  
    <system.web>
        <compilation debug="true" strict="true" explicit="true"  >

        </compilation>
    <!--
      Der Abschnitt <authentication> ermöglicht die Konfiguration 
          des Sicherheitsauthentifizierungsmodus, der von 
          ASP.NET zum Identifizieren eines eingehenden Benutzers verwendet wird. 
    -->
    <authentication mode="Windows" />
    <!--
       Der Abschnitt <customErrors> ermöglicht die Konfiguration 
           der Vorgehensweise beim Auftreten eines nicht behandelten Fehlers 
           während der Ausführung einer Anforderung. Insbesondere 
           ermöglicht er Entwicklern die Konfiguration von HTML-Fehlerseiten, 
           die anstelle einer Fehlerstapelüberwachung angezeigt werden.

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->

      <customErrors mode="Off">
        <error statusCode="404" redirect="~/w8/index.html"/>
      </customErrors>
      
      <globalization uiCulture="de" culture="de-CH" requestEncoding="UTF-8" responseEncoding="UTF-8"/>
      <httpRuntime maxRequestLength="2048000" executionTimeout="86400"/>
    </system.web>


  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="false"/>
    
    <security>
      <requestFiltering>
        <!-- 2 GiB-->
        <requestLimits maxAllowedContentLength="2147483648" />
      </requestFiltering>
    </security>

  </system.webServer>
</configuration>
